<!doctype html>
<html>
<head>
    <title>Profile</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body {
            padding-top: 20px;
        }
    </style>
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <h1><span class="fa"></span> WELCOME <%=title%>!</h1>
    </div>
    <div class="jumbotron text-center">
        <a href="fastTransfer"><span class="fa fa-bolt"></span>       Fast Transfer</a>
    </div>
    <div class="jumbotron text-center">
        <a href="safeTransfer"><span class="fa fa-envelope"></span>     Safe Transfer </a>
    </div>

</div>
</body>
</html>
